// Header
header {
  text-align: start;
  width: 100vw;
  height: 600px;
  line-height: 100px;
  padding-left: 20px;
  background-image: url("../assets/background.jpeg");
  object-fit: cover;
}

.header_title {
  padding-top: 150px;
  text-shadow: 1px 1px black;
}

.header_firstLetter {
  font-size: 120%;
}
