@use "variables" as *;

// .myProjects{
//     border: 2px solid red;
// }

#projects {
  margin: 50px 0 50px 0;
  padding-left: 20px;
}

.myProjects_allcards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project1to3 {
  display: flex;
  justify-content: space-around;
}

.project4to6 {
  display: flex;
  justify-content: space-around;
}

.myProjects__card {
  border: 5px solid $cardColour;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin: 20px;
  background-color: $cardColour;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  &:hover {
    box-shadow: 20px 20px 10px grey;
  }

  &__image {
    width: 290px;
    height: 210px;
    object-fit: contain;
  }

  &__name {
    margin: 5px;
  }

  &__despcription {
    margin: 5px;
    font-size: 16px;
  }

  &__button {
    text-decoration: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__button_1 {
    margin: 5px;
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    a:link {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  &__button_2 {
    margin: 5px;
    width: 90px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
    a:link {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
