.aboutMe{
    // border: 2px solid orange;
    text-align: start;
    width:100vw;
    padding-left:20px;
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 70px auto ;
    grid-template-areas: 
        "heading picture "
        "about picture ";
}

#about{
    // border: 2px solid green;
    height: 50px;
    width: fit-content;
    margin: 20px 0 0 0;
    grid-area:heading;
}

.aboutMe__img{
    // border: 2px solid green;
    max-width: 100%;  
    height: auto; 
    margin: 20px 300px 40px 0;
    grid-area: picture;
}

.aboutMe__content{
    // border: 2px solid green;
    margin: 20px 0 40px 0;
    width: 90%;
    line-height: 40px;
    grid-area: about;
}


