@use "variables" as*;

.getInTouch{
    // border: 2px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    // border: 2px solid red;
    font-size: 48px;
    width:fit-content;
    margin: 100px 0 30px 0;
}

.getInTouch_button{
    // border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    margin-bottom: 100px;
    background-color: $backgroundColour;
    color: $contentColour;
    a:link{
        text-decoration: none;
        color:inherit;
    }
}


