// Header 
header{
    border: 2px solid red;
    text-align: start;
    width:100vw;
    height: 600px;
    line-height: 100px;
    padding-left: 20px;
}
.header_title{
    border: 2px solid green;
    margin-top: 170px;
}

.header_firstLetter{
    font-size: 120%;
}


