// Header 
header{
    border: 2px solid red;
    text-align: start;
    width:100vw;
    height: 600px;
    line-height: 100px;
    padding: 150px 0 0 20px;
}

.header_firstLetter{
    font-size: 120%;
}


