@use "variables" as*;

nav{
    // border: 2px solid red;
    width:100vw;
    height: 70px;
    background-color:$footerColour;
    color:$secondaryColour;
    display: flex;
    justify-content: center;
}


.nav__name{
    // border: 2px solid #F2D096;
    font-weight: 300;
    margin: 20px;
    text-align: center;
    width: 50vw;  
}

.nav__list{
    grid-area: list;
    // border: 2px solid orange;
    width: 50vw;
    margin: 5px;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}

.nav__list__item{
    grid-area: list;
    // border: 2px solid #F2D096;
    height: fit-content;
    list-style: none;
    a:link{
        text-decoration: none;
        color: inherit;
    }
}

