@use "variables" as*;

// .myProjects{
//     border: 2px solid red;
// }

#projects{
    margin:50px 0 50px 0;
    padding-left:20px;
}

.myProjects_allcards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project1to3{
    display: flex;
    justify-content: space-around;
}

.project4to6{
    display: flex;
    justify-content: space-around;
}


.myProjects__card{
    border: 5px solid $cardColour;
    width: 300px;
    height: 350px;
    margin:20px;
    background-color:$cardColour;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.myProjects__card:hover{
    box-shadow: 20px 20px 10px grey;
}

.myProjects__card__image{
    // border: 2px solid black;
    width: 100%;
    height: 100%;
}

.myProjects__card__name{
    // border: 2px solid black;
    margin: 5px;
}

.myProjects__card__despcription{
    margin: 5px;
    // border: 2px solid black;
    font-size: 16px;
}

.myProjects__card__button{
    // border: 2px solid red;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.myProjects__card__button_1{
    margin: 5px;
    width:90px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
  
}

.myProjects__card__button_2{
    margin: 5px;
    width:90px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 10px;
  
}


