.technicalSkills{
    border: 2px solid red;
}

#skills{
    margin-top:50px;
    padding-left:20px;
}

.technicalSkills_img{
    border: 3px solid green;
    margin-top:50px;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


