@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  border: 2px solid red;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.nav__name {
  border: 2px solid #F2D096;
  padding: 20px;
  text-align: center;
  width: 100vw;
}

.nav__list {
  display: none;
}

header {
  border: 2px solid red;
  text-align: start;
  width: 100vw;
  height: 600px;
  line-height: 80px;
  padding: 150px 0 0 20px;
}

.aboutMe {
  border: 2px solid red;
  text-align: start;
  width: 100vw;
  padding-left: 20px;
}

#about {
  margin: 20px 0 40px 0;
}

.aboutMe__img {
  max-width: 100%;
  height: auto;
  padding-right: 20px;
}

.aboutMe__content {
  margin: 40px 0 20px 0;
}

.technicalSkills {
  border: 2px solid red;
  width: 100vw;
}

#skills {
  margin: 20px 0 20px 0;
  padding-left: 20px;
}

.technicalSkills_img {
  border: 3px solid green;
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.myProjects {
  border: 2px solid red;
  width: 100vw;
}

#projects {
  margin: 20px 0 20px 0;
  padding-left: 20px;
}

.getInTouch {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  border: 2px solid red;
  width: fit-content;
  margin: 40px 0 20px 0;
}

.getInTouch_button {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 40px 10px 40px;
  margin-bottom: 50px;
  background-color: white;
  color: #00000f;
}

footer {
  background-color: #051928;
  height: 5vh;
}